<div id="wrapper">

  <!-- Header -->
    <header id="header">
      <div class="logo">
        <span class="icon fa-diamond"></span>
      </div>
      <div class="content">
        <div class="inner" *ngIf="showReveal">  
          <app-hero-text *ngIf="showReveal"></app-hero-text>
        </div>
        <div class="inner" *ngIf="!showReveal">
          <h1>My dearest Selina</h1>
          <p>Your presence in my life, brightens my world.  I can't imagine a single moment without you.</p>
        </div>
      </div>
      <nav>
        <ul>
          <li><button *ngIf="isVisible(1)" (click)="openBottomSheet(1)">Start Here</button></li>
          <li><button *ngIf="isVisible(2)" (click)="openBottomSheet(2)">Then This One</button></li>
          <li><button *ngIf="isVisible(3)" (click)="openBottomSheet(3)">After That</button></li>
          <li><button *ngIf="isVisible(4)" (click)="openBottomSheet(4)">And Finally</button></li>
        </ul>
      </nav>
    </header>

  

  <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; DeLavalles</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<router-outlet></router-outlet>