.bottom-sheet {
    min-height: 50vh;
    height: 100%;
    //width: 100vw;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h1 {
        font-size: 2em;
        color: rgba(0,0,0,.87);
        text-align: center;
    }
    .pic-container {
        width: calc(100vw - 20px);
        .pic {
            
            height: 27em;
        }
    }
    .text-container {
        height: 20em;
    }
}

.my-text-container {
    position: relative;
    //margin: 58px 50px;
    height: 49vh;
    // background: rgba(255, 255, 255, 0.9);
    //border-radius: 5px;
    //border: #ddd solid 1px;
}

.my-text {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans';
    font-size: 2rem;
    line-height: 2em;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    img {
        padding: 10px;
    }
}   

.inner-text {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 3px 1px 5px #020101;
    height: 100%;
    color: white;
    position: absolute;
    bottom: -83px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}